.container-scroll{
  width: 100%;
  min-height: calc(100vh - 38.8px);
  padding-bottom: 3000px;
}

.line{
  position: absolute;
  height: 50px;
  width: 100%;
}

.line1{
  top: 200px;
  background-color: darkturquoise;
}

.line2{
  top: 300px;
  background-color: darkorchid;
}

.line3{
  top: 400px;
  background-color: darkcyan;
}